body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;

}
h1 {
    color: #2c3e50;

}
button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    

}

button{
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: brown;

}


